*, ::before, ::after {
	box-sizing: border-box;
}

body {
	background-color: #F5F5FE;
	font-size: 1rem!important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: black!important;
	line-height: 1.2em!important;
	margin: 0;
}

div#loading {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

div#loading a {
	color: cornflowerblue;
}

@keyframes ldio-zrg2ss6p6ee {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-zrg2ss6p6ee div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-zrg2ss6p6ee linear 1s infinite;
  background: #1d3f72;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-zrg2ss6p6ee div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1d3f72;
}.ldio-zrg2ss6p6ee div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1d3f72;
}
.loadingio-spinner-spinner-is7uuvdj549 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zrg2ss6p6ee {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zrg2ss6p6ee div { box-sizing: content-box; }

div#main {
	display: flex;
	flex-direction: column;
	width: 99%;
	height: 99%;
	position: absolute;
}

div#info, div#toc, div#content {
	overflow: scroll;
}

div#info {
	position: relative;
	flex: 0 0 auto;
	padding-left: 10px;
	width: 100%;
	height: 150px;
	font-size: 1.1rem;
	margin-top: 10px;
}

div#info p.list-item--title span.title {
	font-weight: bold;
	color: orange;
}

div#info p.list-item--title span.update {
	font-weight: bold;
	color: red;
}

div#info p.list-item--title, div#info div.plain-text, div#info div#addinfodiv {
	margin-right: 250px;
}

div#info div.plain-text {
	margin-top: 5px;
}

div#info div#addinfodiv {
	margin-top: 5px;
	color: cornflowerblue;
}

div#info div.plain-text span, div#info div#addinfodiv span {
	margin-right: 20px;
}

div#info a {
	cursor: pointer;
}

div#info a#btnSavePDF {
	display: inline-block;
	position: relative;
	top: 2px;
}

div#hsplit {
	flex: 0 0 auto;
	border-bottom: groove;
	cursor: row-resize;
	height: 10px;
}

div#maincontent {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

div#toc {
	position: relative;
	flex: 0 0 auto;
	padding-top: 20px;
	width: 30%;
	height: 100%;
}
div#toc div#btndiv {
	margin-bottom: 10px;
}
div#toc button {
	margin-left: 15px;
	border-radius: 8px;
	background-color: lightgrey;
	padding: 5px;
}
div#toc div#btndiv span {
	padding-left: 20px; 
	font-weight: bold;
}
div#toc div#btndiv span.true {
	color: red; 
}

div#toc div#btndiv span.false {
	color: blue; 
}

div#vsplit {
	position: relative;
	flex: 0 0 auto;
	width: 1px;
	height: auto;
	border-right: groove;
	cursor: col-resize;
	width: 10px;
}

div#content {
	position: relative;
	flex: 1 1 auto;
	padding-top: 20px;
	padding-left: 35px;
	width: 67%;
	height: 100%;
}

div#content div.level1 {
	font-size: 24px;
	color: blue;
	font-weight: bold;
	line-height: 1.2em;
}

div#content div.level2 {
	font-size: 22px;
	color: red;
	font-weight: bold;
	margin-left: 20px;
	line-height: 1.2em;
}

div#content div.level3 {
	font-size: 20px;
	color: green;
	font-weight: bold;
	margin-left: 40px;
	line-height: 1.2em;
}

div#content div.level4 {
	font-size: 18px;
	color: cornflowerblue;
	font-weight: bold;
	margin-left: 60px;
	line-height: 1.2em;
}

div#content div.level5 {
	font-size: 16px;
	color: orange;
	font-weight: bold;
	margin-left: 80px;
}

div#content div.level6 {
	font-size: 16px;
	color: darkcyan;
	font-weight: bold;
	margin-left: 100px;
	line-height: 1.2em;
}

div#content div.level7 {
	font-size: 16px;
	color: deeppink;
	font-weight: bold;
	margin-left: 120px;
	line-height: 1.2em;
}

div#content div.article {
	position: relative;
}

div#content div.article div {
	margin-top: 9px;
}

div#content div.article div sup {
	vertical-align: bottom;
}

div#content div.nostyle {
	font-size: initial;
	color: black;
	font-weight: normal;
	margin-left: 0px;
}

div#toolbar {
	border: 1px solid grey;
	width: 185px;
	height: 32px;
	padding: 5px;
	position: absolute;
	background: white;
}

div.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid grey;
	margin-left: 7px;
	float: left;
	cursor: pointer;
}

annotation {
	border: 1px solid grey;
	width: 195px;
	height: 100px;
	padding: 5px;
	font-size: small;
	position: absolute;
	overflow: auto;
}

annotation a {
	cursor: pointer;
}

.yellow {
	background: #ffee58;
}

.green {
	background: lightgreen;
}

.blue {
	background: lightskyblue;
}

.red {
	background: tomato;
}

.violet {
	text-decoration: underline;
	text-decoration-color: mediumpurple;
	text-decoration-thickness: 2pt;
	text-decoration-skip-ink: none;
}

.circle.violet, annotation.violet {
	background: mediumpurple;
}

.annotated {
	font-style: italic;
}

highlight {
	cursor: pointer;
}

span.subpar {
	position: absolute;
	margin-left: -30px;
	margin-top: 5px;
	font-size: x-small;
	visibility: hidden;
}

div.article:hover span.subpar {
	visibility: visible;
}

div.article span.bookmark {
	position: absolute;
	margin-left: -25px;
	margin-top: -4px;
	opacity: 0;
}

div.article span.bookmark::before {
	content: "☆";
}

div.article.bookmark span.bookmark::before {
	content: "★";
	color: darkorange;
}

div.article:hover span.bookmark {
	opacity: 1;
}

span.bookmark:hover {
	opacity: 1;
	cursor: pointer;
}

div#status {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	pointer-events: none; /* clicks pass through the empty container */
}

div.status-item {
	background-color: #0e63ac;
	color: #fff;
	text-align: center;
	padding: 10px;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	pointer-events: auto;
}

div.status-item a {
	color: yellow;
}

div#bookmark-bar {
	display: none;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 200px;
	background-color: cornflowerblue;
	padding: 5px;
	overflow: auto;
	max-height: 300px;
	/* font-size: 0.8rem; */
}
div#bookmark-bar div#minmax {
	float: right;
	cursor: pointer;
	position: relative;
	top: 8px;
	right: 8px;
}
div#bookmark-bar div#title {
	background-color: #e2e2e2;
	color: #333;
	font-weight: bold;
	padding: 8px;
	cursor: grab;
}

div#bookmark-bar div#items div {
	padding-left: 3px;
	padding-top: 1px;
    margin: 4px 0;
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    overflow-y: hidden;
}


div#bookmark-bar div#items div span.bookmark::before {
	content: "★";
	color: darkorange;
	margin-right: 5px;
}

/* Case law blocks */
div.caselaw-block {
	position: relative;
	margin-top: 4px;
	margin-bottom: 16px;
	padding-left: 14px;
	font-size: 0.82rem;
	color: #333;
	line-height: 1.45em;
}

div.caselaw-border-bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 10px;
	border-left: 3px solid #7b8ea0;
	cursor: pointer;
}

div.caselaw-border-bar:hover {
	border-left-color: #2a4a6b;
}

div.caselaw-header {
	cursor: pointer;
	font-weight: bold;
	color: #4a6785;
	user-select: none;
	padding: 4px 0;
}

div.caselaw-header:hover {
	color: #2a4a6b;
}

span.caselaw-toggle {
	display: inline-block;
	width: 16px;
	font-size: 0.7rem;
	text-align: center;
}

div.caselaw-content {
	padding: 4px 0 8px 0;
}

div.caselaw-content ul,
div.caselaw-content ol {
	margin: 4px 0;
	padding-left: 20px;
}

div.caselaw-content ol {
	list-style-type: decimal;
}

div.caselaw-content li {
	margin-bottom: 8px;
	text-align: justify;
}

div.caselaw-content a {
	color: cornflowerblue;
	text-decoration: none;
}

div.caselaw-content a:hover {
	text-decoration: underline;
}

